
            
    /* Grid layout */
    .grid {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        }
    
        .content {
        grid-column: 1;
        }
        .img-box{
            height: 100% !important
        }
        .sidebar {
        grid-column: 2;
        margin: 5px;
        padding: 5px;
        }
    
        .grid > * {
        border: 0px;
        }
    
        /* Product Grid */
    
        body {
        background: #fff;
        }
    
        h1 {
        font-weight: 500;
        font-size: 20px
        }
    
        ul.rig {
        list-style: none;
        font-size: 0px;
        margin-left: -2.5%;
        /* should match li left margin */
        }
    
        ul.rig li {
        display: inline-block;
        padding: 10px;
        margin: 0 0 2.5% 2.5%;
        background: #fff;
        border: 1px solid #ddd;
        min-height: 100% !important;
        font-size: 16px;
        font-size: 1rem;
        vertical-align: top;
        box-shadow: 0 0 0px #000000;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        }
        ul.rig li .img-box{
            width: 100%;
            height: 80%;
        }
        ul.rig li .img-box img {
        width: 80%;
        height: 100% !important;
        margin: 0 0 10px;
        }
    
        ul.rig li h3 {
        margin: 0 0 10px;
        }
    
        ul.rig li p {
        font-size: 1.0em;
        line-height: 1.5em;
        color: #000000;
        }
    
    
        /* class for 2 columns */
    
        ul.rig.columns-2 li {
        width: 47.5%;
        /* this value + 2.5 should = 50% */
        }
    
    
        /* class for 3 columns */
    
        ul.rig.columns-3 li {
        width: 30.83%;
        /* this value + 2.5 should = 33% */
        }
    
    
        /* class for 4 columns */
    
        ul.rig.columns-4 li {
        width: 22.5%;
        /* this value + 2.5 should = 25% */
        }
    
        @media (max-width: 680px) {
        ul.grid-nav li {
            display: inline-block;
            margin: 0 0 5px;
        }
        ul.grid-nav li a {
            display: inline-block;
            margin: 0 0 5px;
        }
        ul.rig {
            margin-left: 0;
        }
        ul.rig li {
            width: 100% !important;
            /* over-ride all li styles */
            margin: 0 0 10px;
        }
        ul.rig li img{
            width: 80%;
            height: auto;
        }
        }
        h4{
            color: #33cabb;
            text-align: center;
        }