
  .info p {
    text-align:center;
    color: #0d065a;
    text-transform:none;
    font-weight:bold;
    font-size:15px;
  }
    
  .info i {
    color:#F6AA93;
  }
  form {
    border-radius: 5px;
    width:100%;
    margin: none;
    background-color: rgb(235, 229, 229);
    overflow: hidden;
  }
  
  p span {
    color: #F00;
  }
  
  p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }
  select, input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
  }
  
  a {
    text-decoration:inherit
  }
  
  textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px; 
    float: left;
    padding: 0px 15px;
  }
  
  .form-group {
    overflow: hidden;
    clear: both;
  }
  
  .icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
  }
  
  i {
    color:#0d065a;
  }
  
  .contentform {
    padding: 40px 30px;
  }
  
  .bouton-contact, .title{
    background-color: #0d065a;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:none;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 0px 0px 5px 5px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .bouton-contact:hover{
    cursor: pointer;
    background-color: #0f039e
  }
  
  .leftcontact {
    width:49.5%; 
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
  }
  
  .rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
  }
  
  .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
  }
  
  #sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  }
  
  #sendmessage.show,.show  {
    display:block;
  }

  @media (min-width: 1200px){
}
@media (max-width: 768px){
  select, input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 90%;
    height: 40px;
    float: left;
    padding: 0px 15px;
  }

  textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 90%;
    height: 130px; 
    float: left;
    padding: 0px 15px;
  }
  .icon-case {
    width: 10%;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
  }
  .leftcontact {
    width:100%; 
    /* border-right: 1px dotted #CCC; */
    box-sizing: border-box;
    margin: 0px 3% 0px 0px;
  }
  
  .rightcontact {
    width:100%;
    box-sizing: border-box;
    margin: 0px 3% 0px 15px;
  }
}